<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000886407057-0s8d447o23r42k0bcg8dp1khncesfqhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000886407057-0s8d447o23r42k0bcg8dp1khncesfqhn</string>
	<key>API_KEY</key>
	<string>AIzaSyBfLe_Lt2F2ltZk9bPg-VEXTkkuJgheLRc</string>
	<key>GCM_SENDER_ID</key>
	<string>1000886407057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirstProject.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-5228d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-5228d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000886407057:ios:c565f8f14706cbd3541430</string>
</dict>
</plist>